{% macro image(img, rec, pos) %}

    {% if pos == 'sidebar' %}
        {% set w = 400 %}
        {% set h = 300 %}
        {% set class = 'sideimage' %}
    {% else %}
        {% set w = 854 %}
        {% set h = 460 %}
        {% set class = '' %}
    {% endif %}

    {% if (img is not empty) and 'avatar' not in img %}
        {% if class == 'sideimage' %}
            <div class='sideimage'>
        {% endif %}

            <span class='imageholder'>
                <a href='{{ img }}' title='{{ img.title|default('') }}'>
                    <img src='{{ img }}' alt='{{ img.alt|default('') }}'>
                </a>
                {% if img.title is defined and img.title is not empty %}
                    <span class='note'>{{ img.title }}</span>
                {% elseif img.alt is defined and img.alt is not empty %}
                    <span class='note'>{{ img.alt }}</span>
                {% endif %}
            </span>

        {% if class == 'sideimage' %}
            </div>
        {% endif %}

    {% endif %}
{% endmacro %}