{% include '_head.twig' %}

{% include '_menu.twig' %}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% set headerimage = paths.theme ~ 'img/' ~ random(theme.backgrounds) %}
    <header class="intro-header" style="background-image: url('{{ headerimage }}')">{# thumbnail(record.image, 1000, 700) #}    
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ app.config.get('general/sitename') }}</h1>
                        <hr class="small">
                        {% if app.config.get('general/payoff') %}
                        <span class="subheading">{{ app.config.get('general/payoff') }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">
               
                {# if used for listing a taxonomy: #}
        {% if taxonomytype is defined %}
            <h2>
                {{ __('Posts for') }}
                {% if taxonomy.options[slug] is defined %}
                    {{ taxonomy.options[slug] }}
                {% else %}
                    {{ slug }}
                {% endif %}
            </h2>
        {% endif %}

        {# This is also the default template for searchresults. If 'search' is defined,
           we display an appropriate title. The 'records' array contains all of the
           records matching the current query. If there are no results, the
           code in the 'else' part of the for-loop is used. #}
        {% if search is defined %}
            <h1 style="color: #ECECEC">
                {{ __('Results for <b style="color: #2283FF;"> %search% </b>.', { '%search%': search }) }}
            </h1>
        {% endif %}

        <hr>


                {% for record in records %}


               <div class="post-preview">
                    <a href="{{ record.link }}">
                        <h2 class="post-title">
                            {{ record.title }}
                        </h2>                      
                    </a>
                    <p>
                        {{ record.content|excerpt(400) }}
                    </p>

                    <p>
                        <a href="{{ record.link }}" class="btn btn-primary">Read more &raquo;</a>
                    </p>

                    <p class="post-meta">{% include '_recordfooter.twig' with {record: record} %}</p>
                </div>
                <hr>
               

                    {% else %}
                <article>
                    <h2>No content found.</h2>

                    <p>
                        Unfortunately, no content could be found. Try another page, or go to the
                        <a href="{{ paths.root }}">homepage</a>.
                    </p>

                    {#
                    optionally, you can redirect the browser to another page. Just uncomment the next line to do so.
                    {{ redirect('/') }}
                    #}

                </article>

               
                {% endfor %}

                <!-- Pager -->
                {{ pager() }}


            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-10 col-md-offset-1">
            {% include '_aside.twig' %}
            </div>

        </div>
    </div>

    <hr>

 {% include '_footer.twig' %}

