{% extends '_base.twig' %}
{% import 'partials/_macro.twig' as macros %}

{% block bodyclass %}homepage{% endblock %}

{% block container %}
    <header>
        <h1>
            {{ app.config.get('general/sitename') }}
        </h1>
    </header>

    {% set author = app.request.get('author') %}
    {% if author %}
        {% setcontent records = 'feeditems' where { author: author } limit 20 allowpaging %}
    {% endif %}


    <section>
    {% for record in records %}

        <article class='content'>

            {# {% if record.image!='' %}
            {{ macros.image(record.image, record, 'sidebar') }}
            {% endif %} #}

{% set author = attribute(rssfeeds, record.get('author')).all() %}
{% set compact = author.compact|default(false) %}

            {% if record.image!='' and compact %}
            {{ macros.image(record.image, record, 'compact') }}
            {% endif %}

            <h2 {% if compact %}class='compact'{% endif %}>
                <a href='{{ record.link() }}'>{{ record.title|excerpt(78) }}</a>
            </h2>

            {% if record.image!='' and not compact %}
            {{ macros.image(record.image, record) }}
            {% endif %}

            <p>{{ record.content|excerpt(compact ? 160 : 320) }}</p>

            {% if not compact %}
                <p><a href='{{ record.link }}'>Continue reading &raquo;</a></p>
            {% endif %}

            {% include 'partials/_recordfooter.twig' %}

            <hr>

        </article>

    {% endfor %}

    {{ pager() }}



    </section>

    <aside class='content'>
        {% setcontent about = 'page/about' %}
        {% if about is not empty %}
            {{ about.teaser }}
            <a href='{{ about.link() }}'>Continue reading &raquo;</a>
        {% endif %}

      <h3>Aggregated feeds</h3>

      {% set authors = feedListing() %}

      <ul class="feeds">
        {% for author, lastupdated in authors %}
          {% set feed = attribute(rssfeeds, author)|default() %}
            {% if feed is not empty and not feed.get('skip') %}
            <li>
              <a href="/author/{{ author}}" target="_blank">{{ feed.get('title') }}</a>
              <small><em>(<a href="{{feed.get('url') }}">Link</a>, <span title="Last updated {{ lastupdated }}">{{ lastupdated|localedatetime("%e %b '%y") }}</span>)</em></small>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

    </aside>





{% endblock container %}


