{% extends '_base.twig' %}
{% import '_macro.twig' as macros %}

{% block bodyclass %}homepage{% endblock %}

{% block container %}
    <header>
        <h1>
            {{ app.config.get('general/sitename') }}
        </h1>
    </header>

    {# {% setcontent records = 'feeditems/latest/12' allowpaging %} #}
    {% set record = records|first %}

        <article class='content'>

            <h2><a href='{{ record.link() }}'>{{ record.title }}</a></h2>

            {% include '_recordfooter.twig' with {'compact': true } %}

            {% if record.image!='' %}
            {{ macros.image(record.image, record, 'main') }}
            {% endif %}

            <p>{{ record.content|excerpt(320) }}</p>

            <p><a href='{{ record.link }}'>Continue reading &raquo;</a></p>

            <hr>

        </article>

    <section>
    {% for record in records|slice(1) %}

        <article class='content'>

            {# {% if record.image!='' %}
            {{ macros.image(record.image, record, 'sidebar') }}
            {% endif %} #}

            <h2><a href='{{ record.link() }}'>{{ record.title }}</a></h2>

            {% include '_recordfooter.twig' with {'compact': true } %}

            {% if record.image!='' %}
            {{ macros.image(record.image, record, 'main') }}
            {% endif %}

            <p>{{ record.content|excerpt(320) }}</p>

            <p><a href='{{ record.link }}'>Continue reading &raquo;</a></p>

            <hr>

        </article>

    {% endfor %}

    {{ pager() }}



    </section>

    <aside class='content'>
        {% setcontent about = 'page/about' %}
        {% if about is not empty %}
            {{ about.teaser }}
            <a href='{{ about.link() }}'>Continue reading &raquo;</a>
        {% endif %}

      <h3>Aggregated feeds</h3>

      {% set authors = feedListing() %}

      <ul class="feeds">
        {% for author, lastupdated in authors %}
          {% set feed = attribute(rssfeeds, author)|default() %}
            {% if feed is not empty %}
            <li>
              <a href="/author/{{ author}}" target="_blank">{{ feed.get('title') }}</a>
              <small><em>(<a href="{{feed.get('url') }}">Link</a>, <span title="Last updated {{ lastupdated }}">{{ lastupdated|localedatetime("%e %b '%y") }}</span>)</em></small>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

    </aside>





{% endblock container %}


