{% extends '_base.twig' %}
{% import 'partials/_macro.twig' as macros %}

{% block bodyclass %}homepage{% endblock %}

{% block container %}
    <header>
        <h1>
            {% block title %}{{ contenttype }}{% endblock %}
        </h1>
    </header>

    <section>
    {% for record in records|slice(1) %}

        <article class='content'>

            {% if record.image!='' %}
            {{ macros.image(record.values.image, record, 'sidebar') }}
            {% endif %}

            <h2><a href='{{ record.link() }}'>{{ record.title }}</a></h2>

            {% include 'partials/_recordfooter.twig' %}

            {{ record.teaser|default('<p>' ~ record.excerpt(320) ~ '</p>')|raw }}

            <p><a href='{{ record.link }}'>Continue reading &raquo;</a></p>

            <hr>

        </article>

    {% endfor %}

    {{ pager() }}

    </section>







{% endblock container %}


