<div class="post-preview">
    <a href="{{ record.link }}">
        <h2 class="post-title">
            {{ record.title }}
        </h2>                      
    </a>
    {% if record.image is not empty %}
    <div class="listingimage"><img src="{{record.image}}"></div>
    {% endif %}

    <p class="post-meta">{% include '_recordfooter.twig' with {record: record} %}</p>

    <p>
        {{ record.content|excerpt(400) }}
    </p>

    <p>
        <a href="{{ record.link }}" class="btn btn-primary">Read more &raquo;</a>
    </p>

</div>

<hr>
