{% include '_head.twig' %}

{% include '_menu.twig' %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% set headerimage = paths.theme ~ 'img/' ~ random(theme.backgrounds) %}
    <header class="intro-header" style="background-image: url('{{ headerimage }}')">{# thumbnail(record.image, 1000, 700) #}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ record.title }}</h1>
                        <h2 class="subheading">{{ record.teaser }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <span class="meta">{% include '_recordfooter.twig' with {record: record} %}</span>
                                        
                    {{ record.content }}

                    <p>
                        <a href="{{ record.source }}" class="btn btn-primary">View the original post &raquo;</a>
                    </p>

                    <p class="meta">
                        {% set previous = record.previous('id') %}
                        {% if previous %}
                            <a href="{{ previous.link }}">&laquo; {{ previous.title|excerpt(40) }}</a> -
                            {% set a = '' ~ previous.author %}
                            {{ attribute(rssfeeds, a).name }}
                        {% endif %}
                    </p>
                    <p class="meta" style="text-align: right;">
                        {% set next = record.next('id') %}
                        {% if next %}
                            {% set a = '' ~ next.author %}
                            {{ attribute(rssfeeds, a).name }}
                            - <a href="{{ next.link }}">{{ next.title|excerpt(40) }} &raquo;</a>
                        {% endif %}
                    </p>

                </div>
            </div>
        </div>
    </article>

    <hr>

{% include '_footer.twig' %}
